body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fffcfc;
}

.container {
    background-color: #403a3a;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(67, 45, 229, 0.1);
    gap: 10px;
}

.text-field {
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 400px;
    height: 30px;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    height: 40px;
    width: 130px;
    border-radius: 4px;
    font-size: 15px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.parent-container {
    overflow-y: scroll;
    height: calc(100vh - 300px);
    border: 2px solid black;
    margin: 10px;
}

.product-container {
    display: flex;
    margin: 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #f8f9fa;
    padding: 5px;
    
}

.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #f8f9fa;
    padding: 10px;
}

.product-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    width: 100px;
    text-align: center;
    padding: 1rem;
}

.product-card img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

.product-card p {
    margin: 1rem 0;
    font-size: 15px;
    color: #333;
}
.product-card:hover {
    transform: scale(1.05);
}

.rating-container {
    display: flex;
    justify-content: center;
}

.star {
    font-size: 20px;
    color: gold;
}

.star.empty {
    color: lightgray;
}

.offsetDropDown {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 10px;
}

.page-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}


.categories-list {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.categories-button-list {
    flex-wrap: wrap;
}


.category-button {
    padding: 10px 20px;
    border: none;
    height: 40px;
    width: 130px;
    border-radius: 4px;
    font-size: 15px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.category-button:hover {
    background-color: #0056b3;
}
.pagination .page-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin: 0 2px;
}

.pagination .page-button:hover:not(.active) {
    background-color: #0056b3;
}

.pagination .page-button.active {
    background-color: #0056b3;
    cursor: default;
}